[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
selenium = "*"
google-api-python-client = "*"
lxml = "*"
linkedin-api = "*"
webdriver-manager = "*"
instagram-private-api = "==1.6.0"
nest-asyncio = "*"
requests = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.8"
