[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
selenium = "*"
google-api-python-client = "*"
lxml = "*"
webdriver-manager = "*"
instagram-private-api = "==1.6.0"
nest-asyncio = "*"
requests = "*"
cchardet = "*"
aiodns = "*"
brotlipy = "*"
aiohttp = "*"
linkedin-api = "==2.0.0a4"

[dev-packages]

[requires]
python_version = "3.8"
